# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Drizzle migrations (generated)
drizzle/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# PWA
public/sw.js
public/workbox-*.js
public/swe-worker-*.js

# MD
Kino_Especificaciones_Tecnicas_v2.3.md
SADD_arc42_Kino_v2.3.md
kino_roadmap.md
